%li#star-rating.input.custom-radiobutton-group<
  %label<
    Rating
    -#= t('mood.header_rate')
  %span.label-hint<
    (optional)
    -#= "(#{t('base.optional')})"
  #rate-bar<
    %span.star-rating.select<
      -# Feedback::MOOD_TYPES.each do |key, value|
      - {:happy => 'Happy',:confused => 'Confused',  :sad => 'Unhappy', :angry => 'Angry' }.each do |key, value|
        %input{type: 'radio', name: "feedback[mood_type]", value: Feedback::MOOD_TYPES.keys.index(key), id: "feedback_mood_type_#{key}"}
        %label{for: "feedback_mood_type_#{key}"}<
          %span.ss-star>